{% extends 'TestBundle::html.html.twig' %}

{% set head_title = 'AuthBucket\\Bundle\\OAuth2Bundle' %}

{% block page %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 id="oauth2bundle" class="page-header">
                    <span class="hidden-xs hidden-sm visible-md-inline visible-lg-inline">AuthBucket\Bundle\OAuth2Bundle</span>
                    <span class="visible-xs-inline visible-sm-inline hidden-md hidden-lg">OAuth2Bundle</span>
                </h1>
                <p>
                    <a href="https://travis-ci.org/authbucket/oauth2-symfony-bundle"><img src="https://travis-ci.org/authbucket/oauth2-symfony-bundle.svg?branch=master" alt="Build Status" /></a>
                    <a href="https://coveralls.io/github/authbucket/oauth2-symfony-bundle?branch=master"><img src="https://coveralls.io/repos/authbucket/oauth2-symfony-bundle/badge.svg?branch=master&amp;service=github" alt="Coverage Status" /></a>
                    <a href="https://www.versioneye.com/php/authbucket:oauth2-symfony-bundle/dev-master"><img src="https://www.versioneye.com/php/authbucket:oauth2-symfony-bundle/dev-master/badge.svg" alt="Dependency Status" /></a>
                    <a href="https://packagist.org/packages/authbucket/oauth2-symfony-bundle"><img src="https://poser.pugx.org/authbucket/oauth2-symfony-bundle/v/stable.svg" alt="Latest Stable Version" /></a>
                    <a href="https://packagist.org/packages/authbucket/oauth2-symfony-bundle"><img src="https://poser.pugx.org/authbucket/oauth2-symfony-bundle/downloads.svg" alt="Total Downloads" /></a>
                    <a href="https://packagist.org/packages/authbucket/oauth2-symfony-bundle"><img src="https://poser.pugx.org/authbucket/oauth2-symfony-bundle/license.svg" alt="License" /></a>
                </p>
                <p class="lead"><a href="http://oauth2-symfony-bundle.authbucket.com/">AuthBucket\Bundle\OAuth2Bundle</a> is a Symfony Bundle, which integrate <a href="http://oauth2-php.authbucket.com/">AuthBucket\OAuth2</a> as easy as possible into your <a href="http://symfony.com">Symfony</a> Project.</p>

                <h2 id="installation" class="page-header">Installation</h2>
                <p class="lead">Simply add a dependency on <code>authbucket/oauth2-symfony-bundle</code> to your project's <code>composer.json</code> file if you use <a href="http://getcomposer.org/">Composer</a> to manage the dependencies of your project.</p>
                <p>Here is a minimal example of a <code>composer.json</code>:</p>
<pre><code class="json">{
    &quot;require&quot;: {
        &quot;authbucket/oauth2-symfony-bundle&quot;: &quot;~5.0&quot;
    }
}</code></pre>

                <h3 id="parameters">Parameters</h3>
                <p>This bundle come with following parameters:</p>
                <ul>
                    <li><code>model</code>: (Optional) Override this with your own model classes, default with in-memory AccessToken for using resource firewall with remote debug endpoint.</li>
                    <li><code>driver</code>: (Optional) Currently we support in-memory (<code>in_memory</code>), or Doctrine ORM (<code>orm</code>). Default with in-memory for using resource firewall with remote debug endpoint.</li>
                    <li><code>user_provider</code>: (Optional) For using <code>grant_type = password</code>, override this parameter with your own user provider, e.g. using InMemoryUserProvider or a Doctrine ORM EntityRepository that implements UserProviderInterface.</li>
                </ul>

                <h3 id="services">Services</h3>
                <p>This bundle come with following services controller which simplify the OAuth2.0 controller implementation overhead:</p>
                <ul>
                    <li><code>authbucket_oauth2.authorization_controller</code>: Authorization Endpoint controller.</li>
                    <li><code>authbucket_oauth2.token_controller</code>: Token Endpoint controller.</li>
                    <li><code>authbucket_oauth2.debug_controller</code>: Debug Endpoint controller.</li>
                </ul>

                <h3 id="registering">Registering</h3>
                <p>You have to add <code>AuthBucketOAuth2Bundle</code> to your <code>AppKernel.php</code>:</p>
<pre><code class="php"># app/AppKernel.php

class AppKernel extends Kernel
{
    public function registerBundles()
    {
        $bundles = [
            new AuthBucket\Bundle\OAuth2Bundle\AuthBucketOAuth2Bundle(),
        ];

        return $bundles;
    }
}</code></pre>
                <p>Moreover, enable following bundles if that's not already the case:</p>
<pre><code class="php">$bundles = [
    new Symfony\Bundle\FrameworkBundle\FrameworkBundle(),
    new Symfony\Bundle\SecurityBundle\SecurityBundle(),
    new Symfony\Bundle\MonologBundle\MonologBundle(),
];</code></pre>

                <h2 id="usage" class="page-header">Usage</h2>
                <p class="lead">This library seperate the endpoint logic in frontend firewall and backend controller point of view, so you will need to setup both for functioning.</p>
                <p>To enable the built-in controller with corresponding routing, add the following into your <code>routing.yml</code>, all above controllers will be enabled accordingly with routing prefix <code>/api/oauth2</code>:</p>
<pre><code class="no-highlight"># app/config/routing.yml

authbucketoauth2bundle:
    prefix:     /api/oauth2
    resource:   &quot;@AuthBucketOAuth2Bundle/Resources/config/routing.yml&quot;</code></pre>
                <p>Below is a list of recipes that cover some common use cases.</p>

                <h3 id="authorization-endpoint">Authorization Endpoint</h3>
                <p>We don't provide custom firewall for this endpoint, which you should protect it by yourself, authenticate and capture the user credential, e.g. by <a href="http://symfony.com/doc/current/reference/configuration/security.html">SecurityBundle</a>:</p>
<pre><code class="no-highlight"># app/config/security.yml

security:
    encoders:
        Symfony\Component\Security\Core\User\User: plaintext

    providers:
        default:
            memory:
                users:
                    demousername1:  { roles: &#39;ROLE_USER&#39;, password: demopassword1 }
                    demousername2:  { roles: &#39;ROLE_USER&#39;, password: demopassword2 }
                    demousername3:  { roles: &#39;ROLE_USER&#39;, password: demopassword3 }

    firewalls:
        api_oauth2_authorize:
            pattern:                ^/api/oauth2/authorize$
            http_basic:             ~
            provider:               default</code></pre>

                <h3 id="token-endpoint">Token Endpoint</h3>
                <p>Similar as authorization endpoint, we need to protect this endpoint with our custom firewall <code>oauth2_token</code>:</p>
<pre><code class="no-highlight"># app/config/security.yml

security:
    firewalls:
        api_oauth2_token:
            pattern:                ^/api/oauth2/token$
            oauth2_token:           ~</code></pre>

                <h3 id="debug-endpoint">Debug Endpoint</h3>
                <p>We should protect this endpoint with our custom firewall <code>oauth2_resource</code>:</p>
<pre><code class="no-highlight"># app/config/security.yml

security:
    firewalls:
        api_oauth2_debug:
            pattern:                ^/api/oauth2/debug$
            oauth2_resource:        ~</code></pre>

                <h3 id="resource-endpoint">Resource Endpoint</h3>
                <p>We don't provide other else resource endpoint controller implementation besides above debug endpoint. You should consider implement your own endpoint with custom logic, e.g. fetching user email address or profile image.</p>
                <p>On the other hand, you can protect your resource server endpoint with our custom firewall <code>oauth2_resource</code>. Shorthand version (default assume resource server bundled with authorization server, query local model manager, without scope protection):</p>
<pre><code class="no-highlight"># app/config/security.yml

security:
    firewalls:
        api_resource:
            pattern:                ^/api/resource
            oauth2_resource:        ~</code></pre>
                <p>Longhand version (assume resource server bundled with authorization server, query local model manager, protect with scope <code>demoscope1</code>):</p>
<pre><code class="no-highlight"># app/config/security.yml

security:
    firewalls:
        api_resource:
            pattern:                ^/api/resource
            oauth2_resource:
                resource_type:      model
                scope:              [ demoscope1 ]</code></pre>
                <p>If authorization server is hosting somewhere else, you can protect your local resource endpoint by query remote authorization server debug endpoint:</p>
<pre><code class="no-highlight"># app/config/security.yml

security:
    firewalls:
        api_resource:
            pattern:                ^/api/resource
            oauth2_resource:
                resource_type:      debug_endpoint
                scope:              [ demoscope1 ]
                options:
                    debug_endpoint: http://example.com/api/oauth2/debug
                    cache:          true</code></pre>

                <h2 id="demo" class="page-header">Demo</h2>
                <p class="lead">The demo is based on <a href="http://symfony.com/">Symfony</a> and <a href="https://github.com/authbucket/oauth2-symfony-bundle/blob/master/src/AuthBucketOAuth2Bundle.php">AuthBucketOAuth2Bundle</a>. Read though <a href="http://oauth2-symfony-bundle.authbucket.com/demo">Demo</a> for more information.</p>
                <p>You may also run the demo locally. Open a console and execute the following command to install the latest version in the <code>oauth2-symfony-bundle</code> directory:</p>
<pre><code class="bash">$ composer create-project authbucket/oauth2-symfony-bundle authbucket/oauth2-symfony-bundle &quot;~5.0&quot;</code></pre>
                <p>Then use the PHP built-in web server to run the demo application:</p>
<pre><code class="bash">$ cd authbucket/oauth2-symfony-bundle
$ ./bin/console server:run</code></pre>
                <p>If you get the error <code>There are no commands defined in the &quot;server&quot; namespace.</code>, then you are probably using PHP 5.3. That's ok! But the built-in web server is only available for PHP 5.4.0 or higher. If you have an older version of PHP or if you prefer a traditional web server such as Apache or Nginx, read the <a href="http://symfony.com/doc/current/cookbook/configuration/web_server_configuration.html">Configuring a web server</a> article.</p>
                <p>Open your browser and access the <a href="http://127.0.0.1:8000">http://127.0.0.1:8000</a> URL to see the Welcome page of demo application.</p>
                <p>Also access <a href="http://127.0.0.1:8000/admin/refresh_database">http://127.0.0.1:8000/admin/refresh_database</a> to initialize the bundled SQLite database with user account <code>admin</code>:<code>secrete</code>.</p>

                <h2 id="documentation" class="page-header">Documentation</h2>
                <p class="lead">OAuth2Bundle's documentation is built with <a href="https://github.com/fabpot/Sami">Sami</a> and publicly hosted on <a href="http://authbucket.github.io/oauth2-symfony-bundle">GitHub Pages</a>.</p>
                <p>To built the documents locally, execute the following command:</p>
<pre><code class="bash">$ sami.php update .sami.php</code></pre>
                <p>Open <code>build/sami/index.html</code> with your browser for the documents.</p>

                <h2 id="tests" class="page-header">Tests</h2>
                <p class="lead">This project is coverage with <a href="http://phpunit.de/">PHPUnit</a> test cases; CI result can be found from <a href="https://travis-ci.org/authbucket/oauth2-symfony-bundle">Travis CI</a>; code coverage report can be found from <a href="https://coveralls.io/r/authbucket/oauth2-symfony-bundle">Coveralls</a>.</p>
                <p>To run the test suite locally, execute the following command:</p>
<pre><code class="bash">$ phpunit -c phpunit.xml.dist</code></pre>
                <p>Open <code>build/logs/html</code> with your browser for the coverage report.</p>

                <h2 id="references" class="page-header">References</h2>
                <ul>
                    <li><a href="http://tools.ietf.org/html/rfc6749">RFC6749</a></li>
                    <li><a href="http://oauth2-symfony-bundle.authbucket.com/demo">Demo</a></li>
                    <li><a href="http://authbucket.github.io/oauth2-symfony-bundle/">API</a></li>
                    <li><a href="https://github.com/authbucket/oauth2-symfony-bundle">GitHub</a></li>
                    <li><a href="https://packagist.org/packages/authbucket/oauth2-symfony-bundle">Packagist</a></li>
                    <li><a href="https://travis-ci.org/authbucket/oauth2-symfony-bundle">Travis CI</a></li>
                    <li><a href="https://coveralls.io/r/authbucket/oauth2-symfony-bundle">Coveralls</a></li>
                </ul>

                <h2 id="license" class="page-header">License</h2>
                <ul>
                    <li>Code released under <a href="https://github.com/authbucket/oauth2-symfony-bundle/blob/master/LICENSE">MIT</a></li>
                    <li>Docs released under <a href="http://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
