{% extends 'TestBundle::html.html.twig' %}

{% set head_title = 'AuthBucket\\Bundle\\OAuth2Bundle' %}

{% block page %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 id="oauth2bundle" class="page-header">
                    <span class="hidden-xs hidden-sm visible-md-inline visible-lg-inline">AuthBucket\Bundle\OAuth2Bundle</span>
                    <span class="visible-xs-inline visible-sm-inline hidden-md hidden-lg">OAuth2Bundle</span>
                </h1>
                <p>
                    <a href="https://travis-ci.org/authbucket/oauth2-bundle"><img src="https://travis-ci.org/authbucket/oauth2-bundle.svg?branch=master" alt="Build Status" /></a>
                    <a href="https://coveralls.io/r/authbucket/oauth2-bundle?branch=master"><img src="https://img.shields.io/coveralls/authbucket/oauth2-bundle.svg" alt="Coverage Status" /></a>
                    <a href="https://www.versioneye.com/php/authbucket:oauth2-bundle/dev-master"><img src="https://www.versioneye.com/php/authbucket:oauth2-bundle/dev-master/badge.svg" alt="Dependency Status" /></a>
                    <a href="https://packagist.org/packages/authbucket/oauth2-bundle"><img src="https://poser.pugx.org/authbucket/oauth2-bundle/v/stable.svg" alt="Latest Stable Version" /></a>
                    <a href="https://packagist.org/packages/authbucket/oauth2-bundle"><img src="https://poser.pugx.org/authbucket/oauth2-bundle/downloads.svg" alt="Total Downloads" /></a>
                    <a href="https://packagist.org/packages/authbucket/oauth2-bundle"><img src="https://poser.pugx.org/authbucket/oauth2-bundle/license.svg" alt="License" /></a>
                </p>
                <p class="lead"><a href="http://oauth2-bundle.authbucket.com/">AuthBucket\Bundle\OAuth2Bundle</a> is a Symfony Bundle, which integrate <a href="http://oauth2.authbucket.com/">AuthBucket\OAuth2</a> as easy as possible into your <a href="http://symfony.com">Symfony</a> Project.</p>

                <h2 id="installation" class="page-header">Installation</h2>
                <p class="lead">Simply add a dependency on <code>authbucket/oauth2-bundle</code> to your project's <code>composer.json</code> file if you use <a href="http://getcomposer.org/">Composer</a> to manage the dependencies of your project.</p>
                <p>Here is a minimal example of a <code>composer.json</code>:</p>
<pre><code>{
    &quot;require&quot;: {
        &quot;authbucket/oauth2-bundle&quot;: &quot;dev-master&quot;
    }
}</code></pre>
                <p>You also have to add <code>AuthBucketOAuth2Bundle</code> to your <code>AppKernel.php</code>:</p>
<pre><code>class AppKernel extends Kernel
{
    public function registerBundles()
    {
        $bundles = array(
            new AuthBucket\Bundle\OAuth2Bundle\AuthBucketOAuth2Bundle(),
        );
        return $bundles;
    }
}</code></pre>

                <h2 id="demo" class="page-header">Demo</h2>
                <p class="lead">This library bundle with a <a href="http://symfony.com/">Symfony</a> based <a href="https://github.com/authbucket/oauth2-bundle/blob/master/AuthBucketOAuth2Bundle.php">AuthBucketOAuth2Bundle</a>. Read though <a href="http://oauth2-bundle.authbucket.com/demo">Demo</a> for more information.</p>
                <p>You may also run the demo locally. Open a console and execute the following command to install the latest version in the oauth2-bundle/ directory:</p>
<pre><code>$ composer create-project authbucket/oauth2-bundle oauth2-bundle/ dev-master</code></pre>
                <p>Then use the PHP built-in web server to run the demo application:</p>
<pre><code>$ cd oauth2-bundle/
$ php app/console server:run</code></pre>
                <p>If you get the error <code>There are no commands defined in the &quot;server&quot; namespace.</code>, then you are probably using PHP 5.3. That's ok! But the built-in web server is only available for PHP 5.4.0 or higher. If you have an older version of PHP or if you prefer a traditional web server such as Apache or Nginx, read the <a href="http://symfony.com/doc/current/cookbook/configuration/web_server_configuration.html">Configuring a web server</a> article.</p>
                <p>Open your browser and access the <a href="http://127.0.0.1:8000">http://127.0.0.1:8000</a> URL to see the Welcome page of demo application.</p>
                <p>Also access <a href="http://127.0.0.1:8000/admin/refresh_database">http://127.0.0.1:8000/admin/refresh_database</a> to initialize the bundled SQLite database with user account <code>admin</code>:<code>secrete</code>.</p>

                <h2 id="documentation" class="page-header">Documentation</h2>
                <p class="lead">OAuth2Bundle's documentation is built with <a href="https://github.com/fabpot/Sami">Sami</a> and publicly hosted on <a href="http://authbucket.github.io/oauth2-bundle">GitHub Pages</a>.</p>
                <p>To built the documents locally, execute the following command:</p>
<pre><code>$ vendor/bin/sami.php update app/config/config_sami.php</code></pre>
                <p>Open <code>build/oauth2-bundle/index.html</code> with your browser for the documents.</p>

                <h2 id="tests" class="page-header">Tests</h2>
                <p class="lead">This project is coverage with <a href="http://phpunit.de/">PHPUnit</a> test cases; CI result can be found from <a href="https://travis-ci.org/authbucket/oauth2-bundle">Travis CI</a>; code coverage report can be found from <a href="https://coveralls.io/r/authbucket/oauth2-bundle">Coveralls</a>.</p>
                <p>To run the test suite locally, execute the following command:</p>
<pre><code>$ vendor/bin/phpunit</code></pre>
                <p>Open <code>build/logs/html</code> with your browser for the coverage report.</p>

                <h2 id="references" class="page-header">References</h2>
                <ul>
                    <li><a href="http://tools.ietf.org/html/rfc6749">RFC6749</a></li>
                    <li><a href="http://oauth2-bundle.authbucket.com/demo">Demo</a></li>
                    <li><a href="http://authbucket.github.io/oauth2-bundle/">API</a></li>
                    <li><a href="https://github.com/authbucket/oauth2-bundle">GitHub</a></li>
                    <li><a href="https://packagist.org/packages/authbucket/oauth2-bundle">Packagist</a></li>
                    <li><a href="https://travis-ci.org/authbucket/oauth2-bundle">Travis CI</a></li>
                    <li><a href="https://coveralls.io/r/authbucket/oauth2-bundle">Coveralls</a></li>
                </ul>

                <h2 id="license" class="page-header">License</h2>
                <ul>
                    <li>Code released under <a href="https://github.com/authbucket/oauth2-bundle/blob/master/LICENSE">MIT</a></li>
                    <li>Docs released under <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/">CC BY-NC-SA 3.0</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
