<footer class="authbucket-docs-footer text-muted">
    <div class="container">
        <ul class="list-inline">
            <li><iframe src="http://ghbtns.com/github-btn.html?user=authbucket&repo=oauth2-symfony-bundle&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="90px" height="20px"></iframe></li>
            <li><iframe src="http://ghbtns.com/github-btn.html?user=authbucket&repo=oauth2-symfony-bundle&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="90px" height="20px"></iframe></li>
            <li><a href="https://twitter.com/hswong3i" class="twitter-follow-button" data-show-count="true">Follow @hswong3i</a></li>
            <li><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://oauth2-symfony-bundle.authbucket.com/" data-via="authbucket">Tweet</a></li>
        </ul>
        <p>Design and built with all the love in the world by <a href="http://twitter.com/hswong3i">@hswong3i</a>.</p>
        <p>Code released under <a href="https://github.com/authbucket/oauth2-symfony-bundle/blob/master/LICENSE">MIT</a>. Docs released under <a href="http://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>.</p>
        <ul class="list-inline">
            <li><a href="https://github.com/authbucket/oauth2-symfony-bundle">GitHub</a></li>
            <li>·</li>
            <li><a href="http://oauth2-symfony-bundle.authbucket.com/demo">Demo</a></li>
            <li>·</li>
            <li><a href="http://authbucket.github.io/oauth2-symfony-bundle/">API</a></li>
            <li>·</li>
            <li><a href="https://github.com/authbucket/oauth2-symfony-bundle/issues?state=open">Issues</a></li>
            <li>·</li>
            <li><a href="https://github.com/authbucket/oauth2-symfony-bundle/releases">Releases</a></li>
            <li>·</li>
            <li><a href="{{ path('admin_refresh_database') }}">Refresh Database</a></li>
        </ul>

    </div>
</footer>

<!-- Twitter -->
<script>
    window.twttr=(function(j,d,i){var h,k,l=j.getElementsByTagName(d)[0];
    if(j.getElementById(i)){return}k=j.createElement(d);
    k.id=i;k.async=1;k.src="https://platform.twitter.com/widgets.js";
    l.parentNode.insertBefore(k,l);return window.twttr||(h={_e:[],ready:function(a){h._e.push(a)
    }})}(document,"script","twitter-wjs"));
</script>

<!-- Google Analytics -->
<script>
    (function(d,e,j,h,f,c,b){d.GoogleAnalyticsObject=f;
    d[f]=d[f]||function(){(d[f].q=d[f].q||[]).push(arguments)
    },d[f].l=1*new Date();c=e.createElement(j),b=e.getElementsByTagName(j)[0];
    c.async=1;c.src=h;b.parentNode.insertBefore(c,b)
    })(window,document,"script","//www.google-analytics.com/analytics.js","ga");
    ga("create","UA-52367143-3","auto");ga("send","pageview");
</script>
