{% extends 'TestBundle::html.html.twig' %}

{% set head_title = 'Resource Endpoint | AuthBucket\\Bundle\\OAuth2Bundle' %}

{% block page %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-header">Resource Endpoint <small>(resource_type = model)</small></h1>
                <blockquote>
                    <p>The client accesses protected resources by presenting the access token to the resource server.</p>
                    <footer><a href="http://tools.ietf.org/html/rfc6749#section-7">7. Accessing Protected Resources</a></footer>
                </blockquote>
                <p><a class="btn btn-primary" role="button" href="{{ path('demo') }}">Return</a></p>
                <p><a class="btn btn-primary" role="button" href="{{ path('demo_authorize_logout') }}">Logout</a></p>

                <h2 class="page-header">Resource Response</h2>
                {{ dump(resource_response) }}

                <h2 class="page-header">Resource Request</h2>
                {{ dump(resource_request) }}
            </div>
        </div>
    </div>
{% endblock %}
