body {
    padding-bottom: 20px;
    padding-top: 20px;
}

footer.oauth2-docs-footer {
    border-top: 1px solid #eee;
    margin-top: 100px;
    padding-bottom: 40px;
    padding-top: 40px;
    text-align: center;
}
