{% extends 'TestBundle::html.html.twig' %}

{% set head_title = 'Debug Endpoint | AuthBucket\\OAuth2' %}

{% block page %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-header">Debug Endpoint</h1>
                <blockquote>
                    <p>The client accesses protected resources by presenting the access token to the resource server.</p>
                    <footer><a href="http://tools.ietf.org/html/rfc6749#section-7">7. Accessing Protected Resources</a></footer>
                </blockquote>
                <p><a class="btn btn-primary" role="button" href="{{ path('demo_index') }}">Return</a></p>
                <h2 class="page-header">Debug Response</h2>
                {{ dump(debug_response) }}

                <h2 class="page-header">Debug Request</h2>
                {{ dump(debug_request) }}
            </div>
        </div>
    </div>
{% endblock %}
