{% extends 'TestBundle::html.html.twig' %}

{% set head_title = 'Demo | AuthBucket\\Bundle\\OAuth2Bundle' %}

{% block page %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 id="demo" class="page-header">Demo</h1>
                <p class="lead">Here we demos some of the basic OAuth2.0 Workflows. Corresponding request and response raw debug message will show in a step-by-step, page-by-page style. Read though <a href="https://github.com/authbucket/oauth2-symfony-bundle/blob/master/tests/TestBundle/Resources/config/routing.yml">routing.yml</a> and <a href="https://github.com/authbucket/oauth2-symfony-bundle/blob/master/tests/TestBundle/Controller/DemoController.php">DemoController.php</a> to see how we implement it.</p>

                <h2 id="authorization-code-grant" class="page-header">Authorization Code Grant</h2>
                <blockquote>
                    <p>The authorization code grant type is used to obtain both access tokens and refresh tokens and is optimized for confidential clients.</p>
                    <footer><a href="http://tools.ietf.org/html/rfc6749#section-4.1">4.1. Authorization Code Grant</a></footer>
                </blockquote>
                <p><a class="btn btn-primary" role="button" href="{{ path('demo_request_code') }}">Authorization Request</a></p>

                <h2 id="implicit-grant" class="page-header">Implicit Grant</h2>
                <blockquote>
                    <p>The implicit grant type is used to obtain access tokens (it does not support the issuance of refresh tokens) and is optimized for public clients known to operate a particular redirection URI.  These clients are typically implemented in a browser using a scripting language such as JavaScript.</p>
                    <footer><a href="http://tools.ietf.org/html/rfc6749#section-4.2">4.2. Implicit Grant</a></footer>
                </blockquote>
                <p><a class="btn btn-primary" role="button" href="{{ path('demo_request_token') }}">Authorization Request</a></p>

                <h2 id="resource-owner-password-credentials-grant" class="page-header">Resource Owner Password Credentials Grant</h2>
                <blockquote>
                    <p>The resource owner password credentials grant type is suitable in cases where the resource owner has a trust relationship with the client, such as the device operating system or a highly privileged application.</p>
                    <footer><a href="http://tools.ietf.org/html/rfc6749#section-4.3">4.3. Resource Owner Password Credentials Grant</a></footer>
                </blockquote>
                <p><a class="btn btn-primary" role="button" href="{{ path('demo_grant_type_password') }}">Access Token Request</a></p>

                <h2 id="client-credentials-grant" class="page-header">Client Credentials Grant</h2>
                <blockquote>
                    <p>The client can request an access token using only its client credentials (or other supported means of authentication) when the client is requesting access to the protected resources under its control, or those of another resource owner that have been previously arranged with the authorization server (the method of which is beyond the scope of this specification).</p>
                    <footer><a href="http://tools.ietf.org/html/rfc6749#section-4.4">4.4. Client Credentials Grant</a></footer>
                </blockquote>
                <p><a class="btn btn-primary" role="button" href="{{ path('demo_grant_type_client_credentials') }}">Access Token Request</a></p>
            </div>
        </div>
    </div>
{% endblock %}
