{% extends 'TestBundle::html.html.twig' %}

{% set head_title = 'Login | AuthBucket\\Bundle\\OAuth2Bundle' %}

{% block page %}
    {% embed 'TestBundle::page.html.twig' %}

    {% block main %}
        <h2 class="page-header">Form Login</h2>
        <form action="{{ path('oauth2_authorize_form_login_check') }}" method="post" role="form">
            {{ error }}
            <div class="form-group">
                <label>Username</label>
                <input class="form-control" type="text" name="_username" value="demousername1" />
            </div>
            <div class="form-group">
                <label>Password</label>
                <input class="form-control" type="password" name="_password" value="demopassword1" />
            </div>
            <div class="form-group">
                <button class="btn btn-success" type="submit" name="submit">Login</button>
            </div>
        </form>
    {% endblock %}

    {% block aside %}
        <h2 class="page-header">Actions</h2>
        <p><a class="btn btn-primary" role="button" href="{{ path('oauth2_index') }}">Return</a></p>
    {% endblock %}

    {% endembed %}
{% endblock %}
