{% extends "html.html.twig" %}

{% set head_title = 'Resource Server | AuthBucket\\OAuth2' %}

{% block page %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-header">Resource Server</h1>
                <blockquote>
                    <p>The server hosting the protected resources, capable of accepting and responding to protected resource requests using access tokens.</p>
                    <footer><a href="http://tools.ietf.org/html/rfc6749#section-1.1">1.1. Roles</a></footer>
                </blockquote>
            </div>
        </div>
    </div>
{% endblock %}
